.edit-form__close-icon {
	position: absolute;
	top: -50px;
	right: -49px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;

}

.edit-form__close-icon:hover {
	opacity: 0.6;
}

@media screen and (max-width: 768px) {
.edit-form__close-icon {
		transform: scale(0.65);
		top: -61px;
		right: -11px;
	}
}